# FORMAS DE CONEXÃO

# Conexão com Windows Authentication
# CONNECTION_STRING=Serverlocalhost;Database=GestaoPatrimonios;Trusted_Connection=True;TrustServerCertificate=True

# Conexão com SQL Server Authentication (usuário e senha)
# CONNECTION_STRING=Serverlocalhost;Database=GestaoPatrimonios;User Id=SEU_USUARIO;Password=SUA_SENHA;TrustServerCertificate=True